/*///////////////////////////////////FONTS////////////////////////////////////*/

/*font-family: 'Comfortaa', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Jost:ital,wght@1,700&display=swap');

/*///////////////////////////////////SECTIONS////////////////////////////////////*/

.top
{
    background-color: rgb(58, 58, 58);
}

body{
    background-color: rgb(58, 58, 58);
}

footer{

  background-color: rgb(84, 84, 84);
  border-radius: 20px;

}

/*///////////////////////////////////HEADER////////////////////////////////////*/
header{

    font-family: "Arial Black", "Arial Bold",  sans-serif ;
    font-weight:bolder;
    font-size: larger;
    text-transform: uppercase;
    
    color:white;
    margin:12px;
    
}

.headerCenter{

    text-align: center;
    
  
}
/*///////////////////////////////////NAVIGATION////////////////////////////////////*/
.navCenter{

    position:relative;
    overflow:hidden;
    padding:20px;
    border-radius: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    font-size: small;
    
}

.navLinkCenter{

  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;

}

.navLinkLeft{

    float: none;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
  
  }

  .navLinkRight{

    float: none;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 10px;
  
  }

  nav
  {
    background-color: rgb(37, 37, 37);
  }
  a{

    color:antiquewhite

  }

  /*///////////////////////////////////CONTENT////////////////////////////////////*/
  .gridMain{

    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "pos1"
    "pos2"
    "pos3"
    "pos4";

  }
  .img1Grid{
    grid-area: pos1;
    display: flex;
    align-items:center;
    justify-content: center;  
  }
  
   .img1{
    max-width: 100%;
    max-height: 100vh;
    margin: auto; 
  }


  .aboutMeCont{
    grid-area: pos2;
    display:block;
    align-items:center;
    justify-content: center; 
    text-align:center; 
    border-radius: 30px;
    background-color: rgb(122, 122, 122);
  }

  .myWork{
    grid-area: pos3;
    display:block;
    align-items:center;
    justify-content: center; 
    text-align:center; 
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(122, 122, 122);
  }

  .myWorkTitle{

    text-align: center;
    font-size:medium;
  }

 /*///////////////////////////////////WORK/EDUCATION////////////////////////////////////*/

 .sectionName
 {

   text-align: center;
   margin:2px; 
    padding: 5px;

 }

  .educationCont
  {
    display:block;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(122, 122, 122);
    

  }

  /*make max height diff in desktop styling*/
  .img2{
   
    display: block;
    margin-left: auto; 
    margin-right: auto;
    max-width:400px;
    max-height:95px;

   
  }

  .schoolText{

    text-align: center;
    border-radius: 35px;
    background-color: rgb(236, 236, 236);

  }
  .workCont
  {
    display:block;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(122, 122, 122);
    

  }
  .textPadding
  {
    margin:2px; 
    padding: 5px;
  }

  .spacing
  {
    border-radius: 30px;
    background-color: rgb(58, 58, 58);

  }


 /*///////////////////////////////////CONTACT////////////////////////////////////*/

  .feeterContactCont{
    display: grid;
    grid-template-rows:repeat(10, 30px);
    grid-template-columns: repeat(10, 10fr);
    

  }

  .feeterImgSize20{

    width: 30px;
    height: 30px;
    margin:5px;
   
    
  }

  .feeterImgSize2{

    width: 40px;
    height:30px;
    margin:5px;
   
    
  }

  .discord
  {

    display: inline-flex;

    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    text-decoration: underline;
    text-align: center;

  }
  .insta
  {

    display: inline-flex;

    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    text-decoration: underline;
    text-align: center;

  }
  /*///////////////////////////////////FOOTER////////////////////////////////////*/

  .feeterLoc{
    grid-area: pos4;
    display: grid;
    grid-template-rows:repeat(3, 30px);
    grid-template-columns: repeat(10, 10fr);
    

  }

  .feeterImgSize{

    width: 40px;
    height: 40px;
    margin:5px;
   
  }

  .feeterContactText{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0px;
    padding: 10px;
    font-size: small;
  }
  .email1{
    display: flex;

    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    text-decoration: underline;
    text-align: center;
    

  }

  .phone{

    display: flex;

    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    text-decoration: underline;
    text-align: center;
    
  }
  

  @media screen and ( min-width : 800px ) 
  {

    .gridMain{
      display: grid;
      grid-template-columns:  repeat(14, 1fr);
      grid-template-rows:  300px 300px 300px 300px 100px 450px 90px; 
    
    }
    .img1Grid{
      grid-column-start: 1;
      grid-column-end: 15;
      grid-row-start: 1;
      grid-row-end: 2;
       
    }

    .aboutMeCont{
      grid-column-start: 8;
      grid-column-end: 14;
      grid-row-start: 4;
      grid-row-end: 5;
      
    }

    .myWork{
      grid-column-start: 2;
      grid-column-end: 8;
      grid-row-start: 4;
      grid-row-end: 9;
      
    }

    .feeterLoc{
      grid-column-start: 8;
      grid-column-end: 14;
      grid-row-start: 5;
      grid-row-end: 5.5;
      
  
    }
    .spacing
  {
    border-radius: 30px;
    background-color: rgb(58, 58, 58);
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 8;
    grid-row-end: 9;

  }
  
  .educationCont
  {
    display:flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    
  }
  .workCont
  {
    display:flex;
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 5;
    

  }
  
.normaldesktop
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  }

.bottom{

  display:grid;
  flex-basis: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


}

.bottom1{

  flex-basis: 50%;
  height: 20px;
  
  flex-wrap: wrap;


}



.email{
  display: flex;

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  text-decoration: underline;
  text-align: center;
  

}

.feeterContactText1{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-left: 110px;
  padding: 10px;
  font-size: medium;
}

.discord
  {

    display: flex;

    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    text-decoration: underline;
    text-align: center;

  }

}
